@model ServiceEngineerViewModel
@{
    ViewData["Title"] = "Service Engineers";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";
}

<div class="section">
    <h5>Users</h5>

    <table id="serviceEngineersTable" class="striped responsive-table account-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Is Active</th>
                <th>Edit User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var engineer in Model.ServiceEngineers)
            {
                <tr>
                    <td>@engineer.Email</td>
                    <td>@engineer.UserName</td>
                    <td>
                        @if (engineer.IsActive)
                        {
                            <i class="material-icons green-text">check</i>
                        }
                        else
                        {
                            <i class="material-icons red-text">close</i>
                        }
                    </td>
                    <td>
                        <a href="#serviceEngineerForm"
                           class="edit-service-engineer"
                           data-email="@engineer.Email"
                           data-username="@engineer.UserName"
                           data-isactive="@engineer.IsActive.ToString().ToLowerInvariant()">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="section" id="serviceEngineerForm">
    <h5>Service Engineer Details</h5>

    <form asp-area="Accounts" asp-controller="Account" asp-action="ServiceEngineers" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="validation-summary-errors"></div>
        <input asp-for="Registration.IsEdit" type="hidden" />

        <div class="row">
            <div class="input-field col s12 m4">
                <input asp-for="Registration.Email" />
                <label asp-for="Registration.Email"></label>
                <span asp-validation-for="Registration.Email" class="red-text"></span>
            </div>

            <div class="input-field col s12 m4">
                <input asp-for="Registration.UserName" />
                <label asp-for="Registration.UserName"></label>
                <span asp-validation-for="Registration.UserName" class="red-text"></span>
            </div>

            <div class="input-field col s12 m4">
                <input asp-for="Registration.Password" />
                <label asp-for="Registration.Password"></label>
                <span asp-validation-for="Registration.Password" class="red-text"></span>
            </div>

            <div class="input-field col s12 m4">
                <input asp-for="Registration.ConfirmPassword" />
                <label asp-for="Registration.ConfirmPassword"></label>
                <span asp-validation-for="Registration.ConfirmPassword" class="red-text"></span>
            </div>

            <div class="col s12 m4 account-checkbox">
                <label>
                    <input asp-for="Registration.IsActive" type="checkbox" />
                    <span>Is Active</span>
                </label>
            </div>

            <div class="input-field col s12 m4 right-align">
                <button class="btn waves-effect waves-light teal" type="submit">
                    Save
                    <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light red lighten-1" type="button" id="resetServiceEngineerForm">
                    Reset
                </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#serviceEngineersTable').DataTable();

            $('#serviceEngineersTable').on('click', '.edit-service-engineer', function (event) {
                event.preventDefault();
                $('#Registration_IsEdit').val('true');
                $('#Registration_Email').val($(this).data('email')).prop('readonly', true);
                $('#Registration_UserName').val($(this).data('username'));
                $('#Registration_Password').val('');
                $('#Registration_ConfirmPassword').val('');
                $('#Registration_IsActive').prop('checked', $(this).data('isactive') === true);
                M.updateTextFields();
            });

            $('#resetServiceEngineerForm').on('click', function () {
                $('#Registration_IsEdit').val('false');
                $('#Registration_Email').val('').prop('readonly', false);
                $('#Registration_UserName').val('');
                $('#Registration_Password').val('');
                $('#Registration_ConfirmPassword').val('');
                $('#Registration_IsActive').prop('checked', true);
                M.updateTextFields();
            });
        });
    </script>
}
